<!-- Features -->
<div id="features" class="tabs">
    <div class="container" id="gestionMiembros">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">DETALLES</div>
                <h1 class="h2-heading">¿Quiénes Somos?
                </h1>
                <p class="p-heading">En San Carlos Adventures, somos más que un simple intermediario de alquiler de equipos de lujo; somos tus socios en la búsqueda de experiencias inolvidables. Fundada con pasión por la aventura y la hospitalidad, nuestra empresa se dedica a ofrecer a los visitantes de San Carlos acceso a un mundo de emocionantes posibilidades.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    
        <div class="row">
            <div class="col-lg-12">

                <!-- Tabs Content -->
                <div class="tab-content" id="argoTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../../../assets/media/images/details.png"
                                        alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h1>Lo que Ofrecemos</h1>
                                    <p></p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Variedad de Equipos de Lujo</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Calidad y Seguridad</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Tarifas Competitivas
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Promociones y Ofertas Especiales
                                            </div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Reserva Sencilla
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ver mas</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                </div> <!-- end of tab content -->
                <!-- end of tabs content -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->


<!-- Details -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1>Equipo de lujo</h1>
                    <p>Ya sea que estés buscando una escapada relajante en una casa de playa de lujo o una experiencia llena de adrenalina en un carro deportivo, jetski, yate, moto o razer, tenemos la opción perfecta para ti.</p>
<!--                     <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Reconoce tus estados de finanzas con tus graficas personalizadas a
                                tu gimnasio</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Reportes inmediatos con tan solo un click</div>
                        </li>
                    </ul> -->
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Ver mas</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="../../../assets/media/images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->

<!-- end of details -->

<!-- Features -->
<div class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Tabs Content -->
                <div class="tab-content" id="argoTabsContent">
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../../../assets/media/images/details.png"
                                        alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h1>Calidad y Seguridad</h1>
                                    <p>En San Carlos Adventures, la calidad y la seguridad son los pilares de nuestro compromiso contigo. Sabemos que la tranquilidad es esencial cuando buscas aventuras y experiencias de lujo. </p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Mantenimiento Riguroso</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Equipos de Calidad</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Estándares de Seguridad
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ver mas</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                </div> <!-- end of tab content -->
                <!-- end of tabs content -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->


<!-- Details -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1>Tarifas Competitivas</h1>
                    <p>tarifas competitivas para que puedas disfrutar de la experiencia que deseas sin preocuparte por tu presupuesto.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Precio Justo por Valo</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Personalización de Presupuesto</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Descuentos y Ofertas Especiales</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Ver mas</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="../../../assets/media/images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details -->

<!-- Features -->
<div id="gestionMiembros" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Tabs Content -->
                <div class="tab-content" id="argoTabsContent">
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-container">
                                    <img class="img-fluid" src="../../../assets/media/images/.png"
                                        alt="alternative">
                                </div> <!-- end of image-container -->
                            </div> <!-- end of col -->
                            <div class="col-lg-6">
                                <div class="text-container">
                                    <h1>Promociones y Ofertas Especiales</h1>
                                    <p>ofrecemos promociones y ofertas especiales para que aproveches al máximo tus aventuras. </p>
                                    <ul class="list-unstyled li-space-lg">
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Paquetes de Aventuras</div>
                                        </li>
                                        <li class="media">
                                            <i class="fas fa-square"></i>
                                            <div class="media-body">Promociones de Grupos
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ver mas</a>
                                </div> <!-- end of text-container -->
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                </div> <!-- end of tab content -->
                <!-- end of tabs content -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->



<!-- Details -->
<div id="details" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1>Reserva sencilla</h1>
                    <p>Entendemos que tu tiempo es valioso, y estamos comprometidos a brindarte una experiencia sin complicaciones desde el primer momento. </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Reserva en Línea</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Confirmación Inmediata</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Reserva Anticipada</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg page-scroll" href="sign-up.html">Ver mas</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="../../../assets/media/images/details.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details -->
