<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<app-nav></app-nav>

<app-header></app-header>

<!-- <app-customers></app-customers> 

<!-- <app-description></app-description> -->

<app-details></app-details>

<!-- <app-video></app-video> -->

<!-- <app-pricing></app-pricing>
 -->
<!-- <app-testimonials></app-testimonials> -->

<app-newsletter></app-newsletter>

<app-footer></app-footer>